@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-lightblue: #b0d9ff;
  --clr-white: #fff;
  --max-width: 1140px;
}

/* pseudo elements in css */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* global css */
img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.8em 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  /* customize */
  background-color: var(--clr-lightblue);
  color: #fff;
  border: 2px solid #1c2042;
}

.game-card {
  background-color: #cdb4db;
  width: 90%;
  max-width: 32rem;
  min-height: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.25);
  padding: 1.5rem;
  border-radius: 10px;
}

.game-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
  margin-bottom: 1.25rem;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.title-container span {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.score-container p {
  font-size: 1.1rem;
  font-weight: 600;
}
.score-container p span {
  font-weight: 900;
}
.weapons-container {
  width: 100%;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.25rem;
}

.btn-weapon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 3.5rem;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-lightblue);
  background-color: var(--clr-white);
  border: 2px solid greenyellow;
  transition: all 0.5s ease;
}

.btn-weapon:hover {
  transform: scale(1.1);
  color: var(--clr-white);
  background-color: rgba(14, 174, 87);
  cursor: pointer;
}
.result-container {
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.result-container p {
  font-size: 1.25rem;
  font-weight: 600;
}
